<!DOCTYPE >
<html>
  <head>
     <meta charset="ISO-8859-1">
    <title>Tradeo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/f401ee9bc7.js" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
  </head>
  <body style="background: rgb(41,41,47);
background: linear-gradient(90deg, rgba(41,41,47,1) 0%, rgba(38,37,36,1) 40%, rgba(74,83,85,1) 100%); height:auto; overflow: visible;">
    <div class="row" style="overflow:visible">
      <div *ngIf="Stocks.length !== 0">
        <div class="col-sm-5" style="margin-left: 17rem; margin-top: 2.5rem">
          <table
            class="container"
            style="width: 36rem;  border-radius: 25px;" 
          >
            <thead>
              <tr>
                <th><h1>StockTicker</h1></th>
                <th><h1>Quantity</h1></th>
                <th><h1>Value at Cost</h1></th>
                <th><h1>Profit and Loss</h1></th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stock of Stocks">
            <td style="font-weight:600" [ngStyle]="{'color':stock.pAndL >0 ? '#5aee95' : '#f58b8b'}">{{stock.stockTticker}}</td>
            <td style="font-weight:600" [ngStyle]="{'color':stock.pAndL >0 ? '#5aee95' : '#f58b8b' }">{{stock.quantity}}</td>
            <td style="font-weight:600" [ngStyle]="{'color':stock.pAndL >0 ? '#5aee95': '#f58b8b' }">{{stock.valueAtCost}}</td>
            <td style="font-weight:600" [ngStyle]="{'color':stock.pAndL >0 ? '#5aee95' : '#f58b8b' }">{{stock.pAndL}}</td>
            </tr>
          </tbody>
          </table>
        </div>   
        </div> 
    </div>
    <div class="card card_red" style="position:fixed; width: 585px; height: 310px; left:56.4rem; bottom:2rem; border-radius:25px; background:#9c5050;">
        <div class="card-header" style="color:#ff1131; line-height:3.5rem">
         <i class="fa fa-angle-double-down fa-2x"></i>
         Loss Statement
        </div>
        <div class="card-body" >
          <div>
            <div class="form-group row" style="position:relative; bottom:-1rem;">
                  <label class="control-label col-md-12" style="color: white; font-size:2rem; position:relative; left:1rem; bottom:0rem">Max Loss</label>
                  <p style="color:white; position:relative; left:1rem; bottom:0rem;">Company with maximum Loss</p>
                  <input type="text" readonly value={{Statement.maxLoss}} class="form-control mx-auto" style="border-radius:10px; width:250px; height:80px; 
                  position:relative; left:8rem; bottom:5rem; font-size:1.2rem">
            </div>
            <div class="form-group row">
                  <label class="control-label col-md-12" style="color: white; font-size:larger; font-size:2rem; position:relative; left:1rem; bottom:2rem">Total Loss</label>
                  <p style="color:white; position:relative; left:1rem; bottom:2rem;">Total Loss of User</p>
                  <input type="text" readonly value={{Statement.totalLoss}} class="form-control mx-auto" style="border-radius:10px; width:250px; height:80px; 
                  position:relative; left:8rem; bottom:7rem; font-size:1.2rem">
            </div>
          </div>
        </div>
      </div>
      <div class="card card_green" style="position:fixed; width: 585px; height: 310px; left:56.4rem; bottom: 23.3rem; border-radius:25px; background:#599c50;">
        <div class="card-header" style="color:#12f30a; line-height:3.5rem">
          <i class="fa fa-angle-double-up fa-2x"></i>
           Profit Statement
        </div>
        <div class="card-body" >
          
          <div>
            <div class="form-group row" style="position:relative; bottom:-1rem;">
                  <label class="control-label col-md-12" style="color: white; font-size:2rem; position:relative; left:1rem; bottom:0rem">Max Profit
                  </label>
                  <p style="color:white; position:relative; left:1rem; bottom:0rem;">Company with maximum Profit</p>
                  <input type="text" readonly value={{Statement.maxProfit}} class="form-control mx-auto" style="border-radius:10px; width:250px; height:80px; 
                  position:relative; left:8rem; bottom:5rem; font-size:1.2rem">
            </div>
            <div class="form-group row">
                  <label class="control-label col-md-12" style="color: white; font-size:larger; font-size:2rem; position:relative; left:1rem; bottom:2rem">Total Profit</label>
                  <p style="color:white; position:relative; left:1rem; bottom:2rem;">Total Profit of User</p>
                  <input type="text" readonly value={{Statement.totalProfit}} class="form-control mx-auto" style="border-radius:10px; width:250px; height:80px; 
                  position:relative; left:8rem; bottom:7rem; font-size:1.2rem">
            </div>
          </div>
        </div>
      </div>
  </body>
</html>

