@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #222;
}


.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color:  #232225;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
 
}

.container td,
.container th {
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 2%;
  height: 3rem;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color:  #1d1e1f;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color:  #0f0f0f;
}

.container th {
  background-color: #8be4df;
}

.container td:nth-child(odd) {
  color:  #f37272;
}
.container td:nth-child(even) {
  color:  #5aee95;
}


.container tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.container td:hover {
  background-color: #f1afec;
  color: black !important;
  font-weight: bold;

  box-shadow: #612759 -1px 1px,  #612759 -2px 2px,  #612759 -3px 3px,
  #612759 -4px 4px, #612759 -5px 5px,  #612759 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}
.card .card_red{
  background-color:#9c5050;
}
.card .card_green{
  background-color:#599c50;
}
.card .card-header{
  background-color: #1d1e1f;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.card-header{
  font-size: larger;
  
}
i{
  position: relative;
  top:0.3rem;
}

input:read-only {
  background:#1d1e1f;
  color:white;
  border-color: #1d1e1f;
}
.positive {
  background-color: green;
}

.negative {
  background-color: red;
}
