@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 270px;
  height: 100%;
  background: #000;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 25px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fa {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #fcfcfc17;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.list-item{
    color:yellowgreen;
}

.logo {
  width: 206px;
  height: 137px;
  object-fit: cover;
  align-self: center;
}


.wrapper .main_content {
    width: 100%;
    margin-left: 250px
}

.wrapper .main_content .header {
    padding: 20px;
    background: #000;
    color: #fff;
    border-bottom: 1px solid #e0e4e8
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px
}

.wrapper .main_content .info div {
    margin-bottom: 20px
}
