<!DOCTYPE>
<html>
<head>
<title> Hackathon </title>
<meta name ="viewport" content ="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4ef7a92321.js" crossorigin="anonymous"></script>


</head>
<body style="background: rgb(41,41,47);
background: linear-gradient(90deg, rgba(41,41,47,1) 0%, rgba(38,37,36,1) 40%, rgba(74,83,85,1) 100%); height:100%">
  <section>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card card_green text-center">
              <div class="title">
                <i class="fa fa-download" aria-hidden="true"></i>
                <h2>Buy Stocks</h2>
              </div>
              <select id="tickersBuy" class="tickerDropdown" (change)="loadPriceBuy()">
                      <option value="None">-- Select Stock --</option>
                      <option value="AAPL">Apple Inc. - AAPL</option>
                      <option value="BAC">Bank of America Corporation - BAC</option>
                      <option value="C">Citigroup Inc. - C</option>
                      <option value="GS"> Goldman Sachs Group, Inc. - GS </option>
                      <option value="JPM">JP Morgan Chase & Co. - JPM</option>
                      <option value="MS">Morgan Stanley - MS</option>
                      <option value="MSFT">Microsoft Corporation - MSFT</option>
                      <option value="TSLA">Tesla, Inc. - TSLA</option>
                      <option value="WFC">Wells Fargo & Company - WFC</option>                                        
                      <option value="WMT">Walmart Inc. - WMT</option>
              </select>
              <div class="price">
                <h4>${{livePriceBuy}}</h4>
              </div>
              <div class="col-md-12">

                <div class="form-group row" style="position:relative; bottom:0.7rem;">
                  <label class="control-label col-md-12" style="color: white; font-size:large;">Quantity</label>
                  <input type="text" [(ngModel)]="stockDetailsBuy.quantity" class="form-control mx-auto" style="border-radius:10px; width:445px; ">
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12" style="color: white; font-size:large;">Price</label>
                  <input type="text" [(ngModel)]="stockDetailsBuy.price" class="form-control mx-auto" style="border-radius:10px; width:445px; ">
                </div>
                <div class="form-group">
                  <button class="btn btn-success btn-lg btn-block" (click)="addStockBuy()" style="border-radius:3.3rem; border-color:#fffdfd;
                   position:relative; top:1rem;" data-bs-toggle="modal" data-bs-target="#exampleModal"> Buy Now </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4" >
            <div class="card card_red text-center">
              <div class="title">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <h2>Sell Stocks</h2>
              </div>
              <select id="tickersSell" class="tickerDropdown" (change)="loadPriceSell()">
                      <option value="None">-- Select Stock --</option>
                      <option value="AAPL">Apple Inc. - AAPL</option>
                      <option value="BAC">Bank of America Corporation - BAC</option>
                      <option value="C">Citigroup Inc. - C</option>
                      <option value="GS"> Goldman Sachs Group, Inc. - GS </option>
                      <option value="JPM">JP Morgan Chase & Co. - JPM</option>
                      <option value="MS">Morgan Stanley - MS</option>
                      <option value="MSFT">Microsoft Corporation - MSFT</option>
                      <option value="TSLA">Tesla, Inc. - TSLA</option>
                      <option value="WFC">Wells Fargo & Company - WFC</option>                                        
                      <option value="WMT">Walmart Inc. - WMT</option>
              </select>
              <div class="price">
                <h4>${{livePriceSell}}</h4>
              </div>
              <div class="col-md-12" >
                <div class="form-group row" style="position:relative; bottom:0.7rem;">
                  <label class="control-label col-md-12" style="color: white; font-size:large;">Quantity</label>
                  <input type="text" [(ngModel)]="stockDetailsSell.quantity" class="form-control mx-auto" style="border-radius:10px; width:445px; ">
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12" style="color: white; font-size:large;">Price</label>
                  <input type="text" [(ngModel)]="stockDetailsSell.price" class="form-control mx-auto" style="border-radius:10px; width:445px; ">
                </div>
                <div class="form-group">
                  <button class="btn btn-success btn-lg btn-block position-relative" (click)="addStockSell()"  style="border-radius: 3.3rem; 
                  background-color:#fa0303; border-color:#fffdfd; position:relative; top:1rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">Sell Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>    
    </div>
  </section>
</body>
</html>
<router-outlet></router-outlet>
