@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 140px 0;
}

.card {
  position: relative;
  min-width: 30rem;
  width: 30rem;
  height: auto;
  overflow: hidden;
  border-radius: 50px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.1);
}
.card_red{
  left: 24rem;
  bottom:3.5rem;
}
.card_green{
  left:15rem;
   bottom:3.5rem;
}
.card_green,
.card_green .title .fa {
  background:linear-gradient(90deg, rgb(7, 167, 42) 0%, rgb(101, 187, 23) 50%, rgb(132, 180, 15) 100%);
}
.card_red,
.card_red .title .fa {
    background: linear-gradient( 90deg, rgb(221, 20, 40) 0%, rgb(220, 87, 27) 50%, rgb(244, 94, 57) 100% );
  }


  

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0.6rem;
}
.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
  bottom:0.5rem;
}
.price {
  position: relative;
  z-index: 2;
  position: relative;
  bottom:-0.4rem;
}
.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}

.tickerDropdown{
  width:300px;
  align-self: center;
  align-items: center;
  align-content: center;
  padding-top:10px ;
  padding-bottom: 9px;
  border-radius: 20px;
  text-align: center;
}



