<!DOCTYPE >
<html>
  <head>
    <title>Hackathon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/4ef7a92321.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="background: rgb(41,41,47);
background: linear-gradient(90deg, rgba(41,41,47,1) 0%, rgba(38,37,36,1) 40%, rgba(74,83,85,1) 100%); height:auto">
    
    
    <div class="row">
      <div *ngIf="Stocks.length !== 0">
        <div class="col-sm-8" style="margin-left: 19rem; margin-top: 3rem;">
            <table class="container " style="width:75rem;  border-radius:20px;" >
          <thead>
            <tr>
            
            <th><h1>Date</h1></th>
            <th><h1>Ticker</h1></th>
              <th><h1>Buy/Sell</h1></th>
              <th><h1>Unit Price</h1></th>
              <th><h1>Quantity</h1></th>
              <th><h1>Status</h1></th>
              
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let stock of Stocks">
            
            <td style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">{{stock.date}}</td>
            <td style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">{{stock.stockTicker}}</td>
            <td style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">{{stock.buyOrSell}}</td>
            <td style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">{{stock.price}}</td>
            <td style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">{{stock.quantity}}</td>
            <td *ngIf="stock.statusCode===0" style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">Pending</td>
            <td *ngIf="stock.statusCode===1" style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">Pending</td>
            <td *ngIf="stock.statusCode===2" style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">Successful</td>
            <td *ngIf="stock.statusCode===3" style="font-weight:600" [ngStyle]="{'color':stock.buyOrSell === 'Buy' ? '#5aee95' : '#f58b8b' }">Failed</td>
            
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </body>
</html>

